<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Список всех задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
                <a href="{% url 'task_update' pk=task.pk %}">Редактировать</a>
                <form method="post" action="{% url 'task_delete' pk=task.pk %}" style="display:inline;">
                     {% csrf_token %}
                    <button type="submit" >Удалить</button>
                </form>
                 <form method="post" action="{% url 'task_toggle_complete' pk=task.pk %}" style="display:inline;">
                     {% csrf_token %}
                    <button type="submit" >{% if task.completed %}Сбросить статус{% else %}Завершить{% endif %}</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'task_create' %}">Создать задачу</a>
</body>
</html>