<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Подтверждение удаления задачи</title>
</head>
<body>
    <h1>Удалить задачу "{{ task.title }}"?</h1>
    <p>Вы уверены, что хотите удалить эту задачу?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
        <a href="{% url 'task_list' %}">Отмена</a>
    </form>
</body>
</html>