<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Описание задачи</title>
</head>
<body>
    <h1>Описание задачи</h1>
    <p>Имя задачи: {{ task.title }}</p>
    <p>Описание задачи: {{ task.description }}</p>
    <p>Стадия выполнения: {{ task.completed }}</p>
    <p>Задача поставлена: {{ task.created_at }}</p>

    <!-- Link to Update Task -->
    <a href="{% url 'task_update' pk=task.pk %}">Update Task</a>
</body>
</html>